.list-group-item {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1rem;
}

.list-group-item.purchased {
  text-decoration: line-through;
  background-color: #f0f8ff !important;
  color: #888;
}

.delete-btn {
  background: none;
  border: none;
  color: #dc3545;
  font-size: 1em;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  margin-left: 0.5rem;
  outline: none;
  border-radius: 0.3rem;
}

.delete-btn:hover,
.delete-btn:focus {
  background-color: #f4f3f3;
  color: #ff273d;
  border: 1px solid #ff273d;
}

footer {
  text-align: center;
  margin-top: 2em;
  padding: 1em 0;
  background-color: #333;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
